{% extends 'layouts/base.html' %}
{% load static i18n humanize custom_tags %}

{% block content %}
<div class="row">

</div>
<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button aria-controls="collapseTwo" aria-expanded="false" class="btn btn-link"
                            data-target="#collapseTwo" data-toggle="collapse">
                         {% translate 'Villages with uncompleted tasks' %}
                    </button>
                </h5>
            </div>
            <div aria-labelledby="headingTwo" class="collapse show" id="collapseTwo">
                <div class="card-body">
                    <div class="mb-2">
                        <a href="{% url 'cdd_funnel:export_csv' %}" class="btn btn-sm btn-success">
                            <i class="fas fa-file-csv"></i> {% translate 'Download report' %}
                        </a>
                    </div>
                    <div class="table-responsive">
                        <table id="villages-datatable" class="table table-hover table-bordered dataTable dtr-inline">
                            <thead>
                                <tr>
                                    <th>{% translate 'Name' %}</th>
                                    <th>{% translate 'Uncompleted tasks' %}</th>
                                    <th>{% translate 'Phase' %}</th>
                                    <th>{% translate 'Phase Order' %}</th>
                                    <th>{% translate 'Activity' %}</th>
                                    <th>{% translate 'Activity Order' %}</th>
                                    <th>{% translate 'Task' %}</th>
                                    <th>{% translate 'Task Order' %}</th>
                                    <th>{% translate 'Administrative Unit' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for village in villages %}
                                <tr>
                                    <td class="text-left">
                                        <a href="{% url 'administrativelevels:village_detail' village.id %}">
                                            {{ village.name }}
                                        </a>
                                    </td>
                                    <td>{{ village.uncompleted_tasks }}</td>
                                    <td>{{ village.phase }}</td>
                                    <td>{{ village.phase.order }}</td>
                                    <td>{{ village.activity }}</td>
                                    <td>{{ village.activity.order }}</td>
                                    <td>{{ village.task }}</td>
                                    <td>{{ village.task.order }}</td>
                                    <td>{{ village.administrative_unit }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block modals %}
<div class="modal fade" id="removePackageModal" tabindex="-1" role="dialog" aria-labelledby="removePackageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="" method="POST" name="remove-package-form" id="remove-package-form-id">
                <div class="modal-header">
                    <h5 class="modal-title" id="removePackageModalLabel">{% translate 'Are you sure do you want to remove the package?' %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    {% csrf_token %}
                    <input type="hidden" name="clear-package-input">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate 'Close' %}</button>
                    <input type="submit" class="btn btn-danger" name="clear-package-submit" value="{% translate 'Remove' %}">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block javascript %}
{{ block.super }}
<script type="text/javascript">
    $( document ).ready(function() {
        $('#villages-datatable').DataTable({
            responsive: true,
            pageLength: 25,
            order: [[1, 'desc']],
        });
    });
</script>
{% endblock %}